*.db
*.csv
*.svg
*.pdf
R/graphs/*.png
*.pyc
*.md5
*.xlsb
*.xlsx
*.xls
*.zip
R/json/*.json
R/json/*.RData
.Rproj.user
*.svg
*.csv.gz
*.gz
*.zip
*/en/images/infographics/thumbnails/*
*/es/images/infographics/thumbnails/*
ansible/playbook.retry
.idea/*
