*.db
*.csv
*.pdf
R/graphs/*.png
R/graphs/*.svg
crimenmexico.diegovalle.net/images/smooth-latest.png
*.pyc
*.md5
*.xlsb
*.xlsx
*.xls
*.zip
R/json/*.json
R/json/*.RData
.Rproj.user
*.csv.gz
*.gz
*.zip
*/en/images/infographics/thumbnails/*
*/es/images/infographics/thumbnails/*
ansible/playbook.retry
.idea/*
password.txt
tweets.txt
R/data/INEGI_exporta.csv
elcri.men/static/elcrimen-json/*.json
elcri.men/src/data/*.json
elcri.men/public
elcri.men/node_modules
elcri.men/.cache
elcri.men/yarn-error.log
.netlify
R/interactive-map/municipios-centroids.csv
R/interactive-map/municipios-centroids.json
elcri.men/static/smooth-latest.png

!crimenmexico.diegovalle.net/assets/json/municipios-centroids.csv
