// VARIABLES

$primary-color: #2980b9;
$secondary-color: #6dd5fa;
$navbar-item-hover-background-color: rgb(229, 229, 229);
$navbar-item-active-background-color: rgb(85, 85, 85);

//$navbar-background-color: red;
//$navbar-item-active-color: red;
$navbar-tab-hover-background-color: gray;

$family-monospace: "Source Sans Pro", monospace;
$family-sans-serif: "Source Sans Pro", sans-serif;
$body-line-height: 2;
$weight-bold: 900;
$hr-margin: 2.5rem 0;