<!DOCTYPE HTML>
<!--
        Focal Point by Pixelarity
        pixelarity.com @pixelarity
        License: pixelarity.com/license
-->
<html>
        <head>
                <title>Infográficas - Delincuencia en México</title>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1" />
                <link rel="alternate" hreflang="en" href="https://elcri.men/en/infographics.html" />
                <meta http-equiv="content-type" content="text/html; charset=utf-8" />
                <meta name="description" content="Infográficas de la delincuencia en México desde el 2015 actualizadas cada mes con datos del SNSP y el INEGI" />
                <!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
                <link rel="stylesheet" href="/assets/css/main.css" />
                <!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
                <link rel="stylesheet" href="/assets/css/crimenmexico.css" />

        </head>
        <body class="no-sidebar">
                <div id="page-wrapper">
                        <div class="container">

                                <!-- Header Wrapper -->
                                        <div id="header-wrapper" class="wrapper">

                                                <!-- Header -->
                                                        <div id="header">

                                                                <!-- Logo -->
                                                                        <a href="index.html" id="logo">
                                                                                <span class="pennant"><span class="icon fa-bar-chart"></span></span>
                                                                                <h1>ElCri.men</h1>
                                                                        </a>

                                                                <!-- Nav -->
                                                                        <nav id="nav">
                                                                                <ul>
                                                                                         <li><a href="/">Inicio</a></li>
                                <!-- <li>
                                <a href="#">Dropdown</a>
                                <ul>
                                <li><a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Magna phasellus</a></li>
                                <li><a href="#">Etiam dolore nisl</a></li>
                                <li>
                                <a href="#">Phasellus consequat</a>
                                <ul>
                                <li><a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Phasellus consequat</a></li>
                                <li><a href="#">Magna phasellus</a></li>
                                <li><a href="#">Etiam dolore nisl</a></li>
                                <li><a href="#">Veroeros feugiat</a></li>
                                </ul>
                                </li>
                                <li><a href="#">Veroeros feugiat</a></li>
                                </ul>
                                </li> -->
                                <li><a href="#">Estados</a>
                                    <ul>
                                        <li><a href="/es/states.html">Series de Tiempo</a></li>
                                        <li><a href="/es/estados-mujeres.html">Homicidios de Mujeres</a></li>
<li><a href="/es/estados-feminicidio.html">Feminicidios</a></li>
                                        <li><a href="/es/ENVIPE.html">Subregistro de Delitos</a></li>
                                    </ul>
                                </li>
                               <li><a href="#">Municipios</a>
                                    <ul>
                                        <li><a href="/es/municipios-map.html">Mapa</a></li>
                                        <li><a href="/es/municipios.html">Series de Tiempo</a></li>
<li><a href="/es/lisa-map.html">Mapa de clusters</a></li>
                                    </ul>
                                </li>
                                <li><a href="/es/anomalies.html">Anomalías</a></li>
                                <li class="current_page_item"><a href="/es/infographics.html">Infográficas</a></li>
                                <li><a href="/es/datos.html">Datos</a></li>
                                <li style="white-space: nowrap;"><a href="/en/infographics.html"><img width="24" height="16" src="/images/us.png" style="">En</a></li>
                                                                                        </ul>
                                                                        </nav>

                                                        </div>

                                        </div>

                                        <!-- Portfolio Wrapper -->
                                                <div class="wrapper">
                                                        <section id="portfolio-preview">
                                                                <header>
                                                                        <h2>Infográficas</h2>
                                                                        <span class="byline">Gráficas de la guerra contra el narco</span>
                                                                </header>

                                                                {{INFOGRAPHICS}}

                                                        </section>
                                                </div>

                                        <!-- Footer Wrapper -->
                    <div id="footer-wrapper" class="wrapper">

                        <!-- Footer -->
                        <section id="footer">
                            <header>
                                <h2>Acerca de:</h2>
                            </header>
                            <p>Autor: <a href="http://www.diegovalle.net">Diego Valle</a></p>
                            <p>Por favor visiten <a href="https://hoyodecrimen.com">hoyodecrimen.com</a> para información delincuencial de CDMX</p>
                            <ul class="contact">
                                <li><a href="https://twitter.com/diegovalle" class="icon fa-twitter"><span>Twitter</span></a></li>
                                <li><a href="https://facebook.com/diegovalle" class="icon fa-facebook"><span>Facebook</span></a></li>
                                <li><a href="https://github.com/diegovalle" class="icon fa-github"><span>Instagram</span></a></li>
                                <li><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#100;&#105;&#101;&#103;&#111;&#64;&#100;&#105;&#101;&#103;&#111;&#118;&#97;&#108;&#108;&#101;&#46;&#110;&#101;&#116;"  class="icon fa-envelope"><span>&#100;&#105;&#101;&#103;&#111;&#64;&#100;&#105;&#101;&#103;&#111;&#118;&#97;&#108;&#108;&#101;&#46;&#110;&#101;&#116;</span></a>
                                </li>
                            </ul>
                        </section>

                        <!-- Copyright -->
                        <div id="copyright">
                            &copy; Diego Valle-Jones. Todos los derechos reservados.<br>
                            <a href="/en/index.html">English Version</a>
                        </div>

                    </div>

                        </div>
                </div>






                <!-- Scripts -->
                        <script src="/assets/js/jquery.min.js"></script>
                        <script src="/assets/js/jquery.dropotron.min.js"></script>
                        <script src="/assets/js/jquery.selectorr.min.js"></script>
                        <script src="/assets/js/jquery.poptrox.min.js"></script>
                        <script src="/assets/js/skel.min.js"></script>
                        <script src="/assets/js/skel-viewport.min.js"></script>
                        <script src="/assets/js/util.js"></script>
                        <!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
                        <script src="/assets/js/main.js"></script>
                        <script src="/assets/js/jquery.lazyload.js"></script>
                        <script>
                        $("img.lazy").lazyload({
    threshold : 200
});
</script>
        <!-- Google Analytics -->
        <script>
         window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
         ga('create', 'UA-100264-7', 'auto');
         ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
        <!-- End Google Analytics -->
        </body>
</html>
