---
- hosts: all
  gather_facts: False

- hosts: all
  tasks:

    - name: Load secrets
      when: secrets is defined
      include_vars: secrets.yml
      no_log: true

    - name: Ensure .ssh directory exists.
      when: secrets is defined
      file:
        dest: "{{ key_file | dirname }}"
        mode: 0700
        state: directory

    - name: Install ssh key
      when: secrets is defined
      copy:
        content: "{{ ssh_key }}"
        dest: "{{ key_file }}"
        mode: 0600
      no_log: true

    # Use 'ssh-keyscan -t rsa IP' to create the crimenmexico.known_host file
    - name: tell the host about servers it might want to ssh to
      when: secrets is defined
      known_hosts: path='/etc/ssh/ssh_known_hosts'
                   name="{{  lookup('env','IPADDRESS') }}"
                   key="{{ lookup('file', 'crimenmexico.known_host') }}"
