@media only screen and (max-width: 1024px) {
  table.about td:not([align]) {
    text-align: right;
  }
  table.about,
  thead.about,
  tbody.about,
  th.about,
  td.about,
  tr.about {
    display: block;
  }
  thead.about tr.about {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr.about {
    border: 1px solid #ccc;
  }
  td.about {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-align: right;
  }
  td.about:before {
    position: absolute;
    top: 12px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  td.about:nth-of-type(1):before {
    font-weight: bold;
    text-align: left;
    content: '';
  }
  td.about:nth-of-type(2):before {
    font-weight: bold;
    text-align: left;
    content: '';
  }
  td.about:nth-of-type(3):before {
    font-weight: bold;
    text-align: left;
    content: '';
  }
}
